 <!-- Access Denied Modal -->
    <div id="access-denied-modal" class="modal" style="display: none;">
        <div class="modal-content">
            <div class="modal-header">
                <h2>Access Denied</h2>
                <span class="close" id="close-access-denied">&times;</span>
            </div>
            <div class="modal-body">
                <div class="access-denied-icon">
                    <i class="fa-solid fa-lock"></i>
                </div>
                <p id="access-denied-message">You do not have permission to perform this action.</p>
                <div class="modal-actions">
                    <button id="access-denied-ok" class="btn-primary tactile-btn">OK</button>
                </div>
            </div>
        </div>
    </div>
