<div id="clear-debt-modal">
  <div class="modal-content">
    <p>Are you sure you want to clear this debt?</p>
    <input type="hidden" id="clear-debt-id" />
    <button id="clear-debt-confirm">Yes, Clear</button>
    <button id="clear-debt-cancel">Cancel</button>
  </div>
</div>
