  <div id ="debt-module" class="modal"> 
        <div class="modal-content">
            <h2>Add New Debts</h2>
            <div id="debt-message-container" class="message-container"></div>
            <form id="debt-form">
             <label for="name">Name:</label>
             <input type="text" id="name" placeholder="Enter name" ><br><br>  
             <label for="Amount">Amount:</label>
             <input type="number" id="Amount" ><br><br>
             <label for="Date-taken">Date taken</label>
             <input type="date" id="Date-taken" ><br><br>
             <label for = "Due-date">Due Date:</label>
             <input type="date" id="Due-date" >
             <div class="form-actions">
                <button type="button" class="cancel-btn" id="debt-form-cancel">Cancel</button>
                <button type="submit" class="save-btn">Save</button>
              </div>
            </form>
        </div>
    </div>