<div id="delete-confirm-modal" class="modal" style="display:none;">
  <div class="button-div">
  <p style="font-size: 2rem;">Are you sure you want to delete?🤔❓</p>
    <button id="confirm-delete-btn">Yes, Delete</button>
    <button id="cancel-delete-btn">Cancel</button>
  </div>
</div>